/* body {background-color: aqua;}

/* nav {height: 20vh;}
div {height: 20vh;}
section {height: 20vh;
background-color: aqua;
width: 50%;
margin: 0 auto;} */ 

Header{
background-color: rgb(156, 212, 231);
display: inline-flex;
flex-wrap: wrap;
height: max-content;
width: 100%;
}
.header nav{
    padding-top: 15px;
    float: right;
    font-size: 20px;
}
.header nav ul{
    list-style-type: none;
}
.header nav ul li {
    display: inline-flex;
    margin-left: 25px;
}
#hero-img {
    width: 100%;
}
.parent-container{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.Pre-Work{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
#Pre-Work-img {
height: 600px;
width: 900px;
}
.centered {
    border: 1px solid yellow;
    text-align: center;
}
#Horiseon-img{
    height: 300px;
    width: 250px;
    float: left;
    padding: 20px;
    margin: auto;
    display: block;
    width: 50%;
}
#CSS-img {
    height: 300px;
    width: 250px;
    float: right;
    padding: 20px;
    margin: auto;
    display: block;
    width: 50%;
}