Header{
background-color: rgb(156, 212, 231);
display: flex;
justify-content: space-between;
flex-wrap: wrap;
height: max-content;
width: 100%;
}
.header nav{
    padding-top: 15px;
    float: right;
    font-size: 20px;
}
.header nav ul{
    list-style-type: none;
}
.header nav ul li {
    display: inline-flex;
    margin-left: 25px;
}
.topnav{
    overflow: hidden;
    background-color: rgb(156, 212, 231);
}
.topnav-right{
    float: right;
}
.topnav a{
    text-align: left;
    float: right;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: rgb(156, 212, 231);
    color: black;
}
.topnav a.active {
    color: white;
}
#hero-img {
    width: 100%;
}
#subtitle {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.card {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
h1 {
    padding-right: 50px;
}
p {
border-left: 2px solid black;
padding-left: 50px;
}
.parent-container{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
}
.Pre-Work{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#Pre-Work-img {
height: 600px;
}
.centered {
    border: 1px solid yellow;
    text-align: center;
}
.Horiseon-project,
.Flexbox-Project {
    flex-basis: calc(50% -10px);
    margin-bottom: 20px;
    margin-left: 20px;
}